In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
world = pd.read_csv("raw_data.csv")

In [3]:
world.head()

,Unnamed: 0,country,year_1960,year_1961,year_1962,year_1963,year_1964,year_1965,year_1966,year_1967,...,year_2011,year_2012,year_2013,year_2014,year_2015,year_2016,year_2017,year_2018,year_2019,year_2020
0,1,Afghanistan,8996967.0,9169406.0,9351442.0,9543200.0,9744772.0,9956318.0,10174840.0,10399936.0,...,30117411,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0
1,2,Albania,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,1914573.0,1965598.0,...,2905195,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,2837743.0
2,3,Algeria,11057864.0,11336336.0,11619828.0,11912800.0,12221675.0,12550880.0,12902626.0,13275020.0,...,36661438,37383899.0,38140135.0,38923688.0,39728020.0,40551398.0,41389174.0,42228415.0,43053054.0,43851043.0
3,4,American Samoa,20127.0,20605.0,21246.0,22029.0,22850.0,23675.0,24473.0,25235.0,...,55755,55669.0,55717.0,55791.0,55806.0,55739.0,55617.0,55461.0,55312.0,55197.0
4,5,Andorra,13410.0,14378.0,15379.0,16407.0,17466.0,18542.0,19646.0,20760.0,...,83748,82427.0,80770.0,79213.0,77993.0,77295.0,76997.0,77008.0,77146.0,77265.0

In [4]:
world.drop("Unnamed: 0", axis = 1, inplace = True)

In [6]:
world = world.melt(id_vars=["country"], 
        var_name="year", 
        value_name="population")

In [53]:
def alter_year(year):
    pattern = r'[...\d]'
    clean = re.findall(pattern, year)
    final = "".join(clean)
    return final

In [56]:
world["year"] = world["year"].apply(alter_year)

In [59]:
world.isnull().sum()

country        0
year           0
population    42
dtype: int64

In [60]:
world.dropna(inplace = True)

In [62]:
world.isnull().sum()

country       0
year          0
population    0
dtype: int64

In [65]:
world["year"] = world["year"].astype("int")

In [66]:
world["population"] = world["population"].astype("int")

In [89]:
world

                     country  year  population
0                Afghanistan  1960     8996967
1                    Albania  1960     1608800
2                    Algeria  1960    11057864
3             American Samoa  1960       20127
4                    Andorra  1960       13410
...                      ...   ...         ...
13171  Virgin Islands (U.S.)  2020      106290
13172     West Bank and Gaza  2020     4803269
13173            Yemen, Rep.  2020    29825968
13174                 Zambia  2020    18383956
13175               Zimbabwe  2020    14862927

[13134 rows x 3 columns]

In [ ]:
world.to_csv("clean_data.csv", index = False)